h1{
  font-size: 37px
}
h6{
  background:dodgerblue
  }
  div{
    height:19%
  }
  div{
    width:92%
  }
  div{
    border:3px solid ghostwhite
  }
  i{
    font-size:18px
  }
  h2{
    text-align:right
  }
  h2{
    padding-right:5px
  }
div{
  margin:20px 6px 25px 6px
}
div{
  border-radius:10px
}
ul{
 padding-left:15px
}
h2{
  font-size:20px;
}
header{
  background:gainsboro
}
h2{
  color:violet
}
h2{
  text-decoration:orangered dotted underline
}
div{
  box-shadow: 11px 11px #7cf180;
}